
body {
  background-color: darkgreen;
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
.paddle {
  background-color: teal;
  width: 25px;
  height: 120px;
  border-radius: 15px;
  position: absolute;
}

#leftPaddle {
   left: 10px;   /* Uncomment if you want to set a "starting" position */
   top: 150px;    /* Uncomment if you want to set a "starting" position */
}

#rightPaddle {
  left: 866px;   /* Uncomment if you want to set a "starting" position */
  top: 150px;    /* Uncomment if you want to set a "starting" position */
}

#ball {
  background-color: aliceblue;
  width: 30px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 435px;
  top: 220px;
}

#centerLine{
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 2px;
  border-left: 2px dashed wheat;
  transform: translateX(-50%);
}

.points{
position: absolute;
font-size: large;
color: darkgoldenrod;
font-weight: bolder;
transform: translateX(-50%);
}

#pointsLeft{
  top: 10px;
  left: 24.5%;
}

#pointsRight{
  top: 10px;
  left: 65.5%;
}